@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light');

.bg-green{
background-color: green;
}
.bg-red{
    background-color: red;
}   

.font-dancingscript{
    font-family:'Dancing Script',cursive;
}
body{
    font-family: 'Shadows Into Light__', 'Dancing Script__', cursive;
    
}
@media(min-width:800px){
  #big{
      display:inherit;
  }
  #small{
    display:none;
}
}
@media(max-width:799px){
    #big{
        display:none;
    }
    #small{
        display:inherit;
    }
}