@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

ul{
list-style-type: none;
padding: 0;
margin:0;
background-color: black;
overflow:hidden

}
li{
    float:left;        
}
li a {
    display:block;
    color:white;
    padding:10px;
    text-align:center;
  
}
li a:hover{
    background-color:cyan;
    text-decoration: none; 
}
li a:active {
    background-color: #4CAF50;
    color: white;
}

.panel-heading img{
min-height:180px;
}
.panel-body{
   height:200px;
   overflow-y:scroll;
}
#place{
    padding-left: 10px;
}
.row, .col-md-12.panel-image{
    background-color:lightblue;
}
.buttons{
    margin-left: 50px;
}

.fan {
    opacity: 0.5;
    box-shadow: 2px 0px 2px green;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);

    transition-property: box-shadow, opacity, transform;
    transition-duration: 7s;
    transition-timing-function: ease-in-out;
    
}


.more{
    width:100px;
    -webkit-transition: width 2s;
    transition: width 2s;

}
.more:hover {
    width: 200px;
}
#place, .font-pacifico {
    font-family: 'Pacifico', cursive;
}
.font-berkshireswash{
    font-family: 'Berkshire Swash', cursive;
}